<link rel="stylesheet" href="/assets/styles/style2.css">

<link rel="stylesheet" href="/assets/styles/style2.css">

<div class="testbox">
    <h1>Registration</h1>
    <form action="/auth/register" method="post">
        <input type="text" name="email" placeholder="Email" required>
        <input type="text" name="name" placeholder="Name" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <button><a href="/" style="color: black;">login</a></button> <!-- Aquí cerramos correctamente la etiqueta <form> -->
</div>